node_modules/*
js101/lesson_2/node_modules/*
js_175/loan_calculator/node_modules
js_175/lesson-4/intro-app/node_modules
js_175/lesson-4/hello-world/node_modules
js_175/lesson-4/contacts/node_modules
js_175/lesson-4/contacts/session-store.db