doctype html

html
  head
    block mainHead
      title This is the page title
      meta(charset="UTF-8")
      link(rel="stylesheet" href="stylesheets/application.css")
  body
    header
      h1 Howdy
      block mainHeader
        p Hi everybody!
    main
      p I'm going to be a software engineer soon!
      block mainContent