extends testlayout.pug 
block mainHead
  title This is the new page title
  meta(charset="UTF-8")
  link(rel="stylesheet" href="stylesheets/application.css")
block mainHeader
  p Bye everybody!
block mainContent
  p Hi

block coolNewHeader
  p Hola